version: "3.8"

services:
  routeros:
    image: kilip/routeros:latest
    container_name: routeros-7
    privileged: true # NECESSÁRIO para virtualização
    restart: unless-stopped

    environment:
      # Define parâmetros da VM
      - BOOT=chr
      - RAM=512
      - CPU=1
      - DISK_SIZE=2G

    volumes:
      # Disco do RouterOS
      - ./routeros:/storage

    ports:
      # Winbox
      - "8291:8291"
      # SSH
      - "2222:22"
      # API
      - "8728:8728"
      # WebFig
      - "8080:80"

    devices:
      - /dev/kvm:/dev/kvm

    networks:
      - routeros_net

networks:
  routeros_net:
    driver: bridge
